<div class="auth">
  <div class="auth__form">
    <div class="auth__form__title">Forgot your password?</div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: false }) do |form| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="auth__form__field">
          <%= form.label(:email, class: "auth__form__field__label") %>
          <br/>
          <%= form.email_field(:email, autofocus: true, autocomplete: "email", class: "auth__form__field__text") %>
        </div>
        <div class="auth__form__field">
          <%= form.submit('Reset Password', class: "auth__form__submit") %>
        </div>
      <% end %>
    </div>
  <%= render "devise/shared/links" %>
</div>