<!DOCTYPE html>
<html>
  <head>
    <title>SEP 759 Final Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('logo.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar">
      <% if user_signed_in? %>
        <div class="navbar__links">
          <%= link_to("Teams", teams_path, class: "navbar__links__link") %>
          <span class="navbar__links__divider">|</span>
          <%= link_to("Events", events_path, class: "navbar__links__link") %>
        </div>
      <% end %>

      <% flash.each do |key, value| %>
        <div class='<%= key %>'><%= value %></div>
      <% end %>

      <% if user_signed_in? %>
        <div class="navbar__user">
          Logged in as <%= current_user.email %>
          <%= button_to('Logout', destroy_user_session_path, class: "navbar__user__logout", method: :delete, form: { "data-turbo" => "false" }) %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
